{% load i18n %}

{% block subject %}
{% blocktrans %}Defina sua senha na {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Olá, você recebeu este e-mail porque uma conta foi criada para você na {{ site_name }}.{% endblocktrans %}

{% trans "Para acessar sua conta, defina sua senha clicando no link abaixo:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Agradecemos por utilizar nosso site!" %}

{% blocktrans %}Equipe {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Olá, você recebeu este e-mail porque uma conta foi criada para você na {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Para acessar sua conta, defina sua senha clicando no link abaixo:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>

<p>{% trans "Agradecemos por utilizar nosso site!" %}</p>

<p>{% blocktrans %}Equipe {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
